/* SMall Desktop*/
@media screen and (min-width:1200px) and (max-width:1600px){




}



/*iPad Landscape */
@media screen and (min-width:992px) and (max-width:1199px){
         br, .gray-dott-left:after, .gray-dott-right:before, .white-dott-right:before, .white-dott-left:before, .gray-circle-right:after, .white-circle-left:before, .common-business-block:after, .featured-wwork-block:after, .round-heading:after { display: none; }
        
        .business-skil-block .services_grid{ width: 33.33%; height: auto; min-height: 330px; position: unset;}
        .business-skil-block .web-development-skil-block { border-top:  1px solid #EEEFF4 !important }
        .business-skil-block .web-development-skil-block.border-right-0 { border-right: 1px solid #EEEFF4 !important; }
        .business-skil-block .mobile-development-skil-block, .business-skil-block .games-development-skil-block, .business-skil-block .art-design-skil-block { border-top: 0 !important; }
        .business-skil-block .games-development-skil-block, .business-skil-block .web-development-skil-block, .business-skil-block .data-management-skil-block, .business-skil-block .wordpress-skil-block, .business-skil-block .mobile-development-skil-block { border-right: 0 !important; }
        .business-skil-block .devops-skil-block { width: 100%; }

        .mission-block { margin: 0 }

        .common-business-block .card-block .card { width: 33%; position: unset; float: left; min-height: 410px; }
        .common-business-block { height: auto; margin-bottom: 0; }

         /*****************************Inner Page CSS*******************************/

         /*Industry Page Css*/
        .services-block { max-height: none; margin-bottom: 0 }
        .expertise-box { width: 31%; position: unset; margin:0 11px 15px 12px; float: left; min-height: 270px; }
        .round-heading-2 { margin-top: 0 }
        .advantage-block .advantage-box-one, .advantage-block .advantage-box-two { width: 48%; margin:0 9px 0 10px; padding: 30px; }

        /*Services Solutions Business Page Css*/
        .solution-business-block:after { display: none; }
        .offer-box { border: 1px solid #F39F9F; padding: 20px; margin-bottom: 20px; }

        /*Services Solutions Page Css*/
        .full-cycle-block .advantage-block { margin-top: 0; }
        .tabing-block .tab-item-box { width: 80%; }
        .advantage-block p { font-size: 20px; }

        /*How Development Process Page Css*/
        .hexagon-box { margin-top: 200px; height: 25vh; }

        /*How We Deliver Page Css*/
        .energy-block { margin-top: 0;  }
        .processing-future { background-size: 100%; }
        .processing-future .futuretext.technical-text { left: 0; }
        .processing-future .futuretext.trust-text { left: 750px; top: 0;}
        .processing-future .futuretext.predictable-text { left: 140px; }
        .processing-future .futuretext.operational-text { left: 570px; top: 250px;}
        .processing-future .futuretext.strong-text { left: 900px; }
        .processing-future .futuretext.operational-text:before { top: -210px; left: -220px; }


        /*Hire Dedicated Developers Page Css*/
        .heading-text { margin: 0 }
        .dedicated-team-block { height: auto; margin-bottom: 0 }
        .differ-block .card-block .card-item-2 { top: -105px; } 

        /*Our Works Page Css*/
        .portfolior-section .shape{width:100%;height:100%;}
        .portfolior-section .portfolio-item-block .portfolio-content.rt { text-align: left; }
        .portfolior-section .portfolio-content h1 { font-size: 40px; line-height: 50px; }


        /*Portfolio Page Css*/
        .portfolio-banner .home-banner-animation {width: 1110px;}

     
}




/*iPad Portrait*/
@media screen and (min-width:768px) and (max-width:991px){
        .main-banner { height: 700px; }
         br, .gray-dott-left:after, .gray-dott-right:before, .white-dott-right:before, .white-dott-left:before, .gray-circle-right:after, .white-circle-left:before, .common-business-block:after, .featured-wwork-block:after, .round-heading:after { display: none; }
        .business-skil-block .services_grid{ width: 50%; height: 30vh; position: unset;}
        .business-skil-block .services_grid.devops-skil-block { height: 23vh; }
        .business-skil-block .web-development-skil-block { border-top:  1px solid #EEEFF4 !important }
        .business-skil-block .wordpress-skil-block { border-right: 1px solid #EEEFF4 !important; }
        .business-skil-block .mobile-development-skil-block, .business-skil-block .web-development-skil-block, .business-skil-block .games-development-skil-block, .business-skil-block .art-design-skil-block { border-top: 0 !important; }
        .business-skil-block .games-development-skil-block, .business-skil-block .web-development-skil-block, .business-skil-block .data-management-skil-block { border-right: 0 !important; }
        .business-skil-block .devops-skil-block { width: 100%; }

        .common-business-block .card-block .card { width: 33%; position: unset; float: left; min-height: 370px; }
        .common-business-block { height: auto; margin-bottom: 0; }

        .media-section .media-block .media { padding: 30px;  }

        .testimonial-block .testimonials-box, .testimonial-block { margin: 0; }
        .testimonial-block .testimonials-box .card-0 { width: 100%; background-size: auto; }
        .testimonial-block .testimonials-box .profile { left: 0; bottom: -200px; width: 80%;}
        .testimonial-block .testimonials-box .carousel-inner { height: 740px; }

        .featured-wwork-block { height: auto; }
        .featured-wwork-block .feature-img { width: 100%; height: 350px;  }
        .footer-block .footer-logo {margin-bottom: 40px; }


         /*****************************Inner Page CSS*******************************/

         /*Industry Page Css*/
        .services-block { max-height: none; margin-bottom: 0 }
        .expertise-box { width: 31%; height: auto; position: unset; margin:0 8px 15px 9px; float: left; min-height: 270px; }
        .round-heading-2 { margin-top: 0 }
        .advantage-block .advantage-box-one, .advantage-block .advantage-box-two { width: 48%; margin:0 7px 20px 7px; padding: 30px; }

        /*Services Solutions Business Page Css*/
        .solution-business-block:after { display: none; }
        .offer-box { border: 1px solid #F39F9F; padding: 20px; margin-bottom: 20px; min-height: 450px; }
        .offer-box .offer-item { display: block; text-align: center; }

        /*Services Solutions Page Css*/
        .full-cycle-block .advantage-block { margin-top: 0; }
        .tabing-block .tab-item-box { width: 44%; }

        /*How Development Process Page Css*/
        .hexagon-box { margin-top: 340px; height: 35vh; }
        .hexagon-box .hexagon-wrapper.blank-left-top { left: 75px; top: -215px; height: 117px; width: 117px; }
        .hexagon-box .hexagon-wrapper.blank-left-bottom { left: 110px; top: 280px; height: 72px; width: 72px; }
        .hexagon-box .hexagon-wrapper.icon-analytics { left: 0; top: -115px; } 
        .hexagon-box .hexagon-wrapper.icon-network { left: 165px; top: -210px; } 
        .hexagon-box .hexagon-wrapper.icon-design { left: 165px; top: -20px; }
        .hexagon-box .hexagon-wrapper.icon-responsive { left: 330px; top: -304px; }
        .hexagon-box .hexagon-wrapper.icon-develop { left: 330px; top: -115px; }
        .hexagon-box .hexagon-wrapper.icon-browser { left: 0; top: 75px; }
        .hexagon-box .hexagon-wrapper.icon-testing { left: 165px; top: 170px; }
        .hexagon-box .hexagon-wrapper.icon-launch { left: 330px; top: 75px; }
        .hexagon-box .hexagon-wrapper.icon-launch-white { left: 495px; top: -175px; height: 150px; width: 150px; }
        .hexagon-box .hexagon-wrapper.blank-right-top {  left: 240px; top: -310px;}
        .hexagon-box .hexagon-wrapper { height: 220px; width: 220px; }


         /*How We Deliver Page Css*/
        .energy-block { margin-top: 0; height: auto; }
        .processing-future { background-size: 100%; }
        .processing-future .futuretext.technical-text { left: 0; }
        .processing-future .futuretext.trust-text { left: 550px; }
        .processing-future .futuretext.predictable-text { left: 100px; }
        .processing-future .futuretext.operational-text { left: 420px; top: 290px; }
        .processing-future .futuretext.strong-text { left: 600px; }

        .energy-block > .energy-box { position: static; width: 50% !important; height: 250px !important; float: left; background-repeat: no-repeat; background-size: cover; }
        .monitoring-section .onboarding-box, .monitory-img { width: 100%; }
        .monitoringreaction-section .onboarding-box { width: 100%; margin-top: 30px; }


        /*Hire Dedicated Developers Page Css*/
        .heading-text { margin: 0 }
        .dedicated-team-block { height: auto; margin-bottom: 0 }
        .differ-block .card-block .card-item-1, .differ-block .card-block .card-item-2, .differ-block .card-block .card-item-3 { position: unset; width: 33.33%; float: left; padding: 25px; min-height: 340px; } 
        .differ-block { height: auto; }


        /*Our Works Page Css*/
        .portfolior-section .shape{width:100%;height:100%;}
        .portfolior-section .portfolio-item-block .portfolio-content.rt { text-align: left; }
        .portfolior-section .portfolio-content h1 { font-size: 40px; line-height: 50px; }


         /*Portfolio Page Css*/
        .portfolio-banner { min-height: 450px; }
        .portfolio-banner .path5 { width: 700px; height: 700px; top: 150px;  right: 0; left: 0 !important; margin: 0 auto; } 
        .portfolio-banner .path4 { width: 600px; height: 600px; top: 200px;  right: 0; left: 0 !important; margin: 0 auto; }
        .portfolio-banner .path3 { width: 500px; height: 500px; top: 250px;  right: 0; left: 0 !important; margin: 0 auto; }
        .portfolio-banner .home-banner-animation { width: 100%; margin: 0 auto; left: 0; }
        .portfolio-banner .circle-ani3{width:34px;margin:-17px auto;transform-origin:50% 270px;}
        .portfolio-banner .circle-ani4{width: 54px; margin: -28px auto; transform-origin: 50% 320px;}
        .portfolio-banner .circle-ani5{width:42px;margin:-21px auto;transform-origin:50% 380px; }
        .portfolior-services ul li { margin-bottom: 20px; width: 50%; }
        .portfolior-services-screen .path, .portfolior-services-screen .path2, .product-section { display: none; }
        .portfolior-services-screen .real-time-feature-img { margin-bottom: 30px; }
        .portfolio-banner .circle-ani4>i { width: 44px; height: 44px; border: 4px solid #ff4d64; }


    

}



/* iPhone Portrait */
@media (min-width:320px) and (max-width:576px){
        h1, h2 { margin-bottom: 30px; font-size: 32px; line-height: 38px; }
        h3 { font-size: 26px; }
        section { padding-bottom: 40px; padding-top: 40px; }
        a.link { margin-bottom: 20px; display: block; }
        .main-banner { height: 580px; padding: 70px 0; }
        
        br, .gray-dott-left:after, .gray-dott-right:before, .white-dott-right:before, .white-dott-left:before, .gray-circle-right:after, .white-circle-left:before, .common-business-block:after, .featured-wwork-block:after, .round-heading:after { display: none; }

        .business-skil-block .services_grid { width: 100%; height: auto; position: unset; }
        .business-skil-block .data-management-skil-block { border-bottom: 0 !important }
        .business-skil-block .web-development-skil-block, .business-skil-block .games-development-skil-block, .business-skil-block .wordpress-skil-block, .business-skil-block .data-management-skil-block { border-right: 1px solid #EEEFF4 !important; }
        .business-skil-block .mobile-development-skil-block, .business-skil-block .art-design-skil-block, .business-skil-block .web-development-skil-block { border-top: 0 !important; }

        .mission-block { max-height: none; }
        .service-item-box { margin-bottom: 20px; padding: 30px; }

        .common-business-block { height: auto; margin: 0; }
        .common-business-block .card-block .card-item-1, .common-business-block .card-block .card-item-2, .common-business-block .card-block .card-item-3 { height: auto; position: unset; width: 100%; margin-bottom: 20px; }

        .media-section .media-block { width: 100%; }
        .media-section .media-block .media.border-right-0 { border-right: 1px solid #F39F9F!important; }
        .media-section .media-block:nth-child(3) .media { border-bottom: 0 !important; }
        .media-section .media-block .media { padding: 30px; }

        .testimonial-block .testimonials-box, .testimonial-block { margin: 0; }
        .testimonial-block .testimonials-box .card-0 { min-height: 305px; width: 100%; background-size: 100%; }
        .testimonial-block .testimonials-box .profile { left: 0; bottom: -500px; width: 100%;}
        .testimonial-block .testimonials-box .carousel-inner { height: 880px; }

        .featured-wwork-block { text-align: center;height: auto; }
        .featured-wwork-block .feature-img { width: 100%; height: 350px; background-size: 100%; background-position: left bottom; }
        
        .footer-block { text-align: center; padding-bottom: 20px; }
        .footer-block .footer-logo { margin: 0 auto; margin-bottom: 40px; }
        .footer-block ul { margin-bottom: 30px; }
        .footer-block-bottom, .footer-block-bottom ul.social-links {  text-align: center; }



        /*****************************Inner Page CSS*******************************/

        /*Industry Page Css*/
        .inner-banner { padding-bottom: 60px; }
        .inner-banner img { width: 70%; }
        .banner-img-text span { bottom: -30px; left: 0; }
        .round-heading-2 { margin-top: 0; }
        .services-block { max-height: none; margin-bottom: 0px; }
        .expertise-box { width: 100%; height: auto; position: unset; margin-bottom: 15px; }
        .expertise-box.expertise-item-apartment, .expertise-box.expertise-item-retail, .expertise-box.expertise-item-healthcare, .expertise-box.expertise-item-caregivning, .expertise-box.expertise-item-financial, .expertise-box.expertise-item-car, .expertise-box.expertise-item-online, .expertise-box.expertise-item-real-estate { border-right: 1px solid #f4f5f7 !important; }
        .expertise-block { height: auto }
        .advantage-block .advantage-box-one, .advantage-block .advantage-box-two { width: 100%; }
        .advantage-block .advantage-box-one { margin: 0; padding: 30px; }

        /*Services Solutions Business Page Css*/
        .solution-business-block:after { display: none; }
        .business-development-block img { margin-top: 30px; }
        .offer-box { border: 1px solid #F39F9F; padding: 20px; margin-bottom: 20px; }

        /*Services Solutions Page Css*/
        .full-cycle-block .advantage-block { margin-top: 0; }
        .tabing-block .tab-item-box { width: 100%; margin-top: 20px; }
        .tabing-block .tab-item-box:last-child { margin-right: 0; }

        /*Technology Page Css*/
        .technology-block .technonogy-box{border: 1px solid #EEEFF4 !important; margin-bottom: 20px;}

        /*How Development Process Page Css*/
        .hexagon-box { margin-top: 0; height: auto; }
        .hexagon-box .hexagon-wrapper { position: unset; } 

        /*How We Deliver Page Css*/
        .processing-future { background-size: 100%; }
        .processing-future .futuretext { position: static; text-align: left; padding-bottom: 20px; }
        .processing-future .line-box:before { top: 90% }   
        .processing-future .line-box { height: 50px; }
        .processing-future .futuretext.technical-text { left: 0; top: 110px; }
        .processing-future .futuretext.predictable-text { top: 300px; left: 80px; }
        .processing-future .futuretext.operational-text { top: 295px; left: 400px; }
        .processing-future .futuretext.strong-text { top: 290px; left: 660px; }
        .processing-future .futuretext.trust-text { left: 530px; top: 100px; }
        .processing-future .futuretext:before, .energy-block .energy-box.energy-box-two, .energy-block .energy-box.energy-box-four, .energy-block .energy-box.energy-box-five { display: none; }

        .energy-block { margin-top: 0; height: auto;}
        .energy-block .energy-box { width: 100%; height: 340px; position: unset;}
        .energy-block .energy-box.energy-box-six {width: 100%; height: 340px;}
        .onboarding-section .onboarding-right-content { padding-left: 0; padding-top: 40px; }
        .onboarding-section { margin-bottom: 0 }

        .monitoringreaction-section .onboarding-box { margin-bottom: 20px !important;  }
        .monitoringreaction-section .onboarding-box.monitory-img, .onboarding-section .onboarding-box img { width: 100%; }


        /*Hire Dedicated Developers Page Css*/
        .heading-text { margin: 0 }
        .dedicated-team-block { height: auto; margin-bottom: 0 }
        .differ-block { height: auto; }
        .differ-block .card-block .card-item-1, .differ-block .card-block .card-item-2, .differ-block .card-block .card-item-3 { position: unset; width: 100%; align-items: center; margin-bottom: 20px; }


        /*Contact Page Css*/
        .forms .radio-toolbar label { margin-bottom: 15px; width: 100%; margin-right: 0; }
        .forms .btn { width: 100%; }



        /*Blog Page Css*/
        .tabbing-blog ul { text-align: left; }
        ul.tabbing-list li { margin: 0 0 3px 0 }

        /*Blog Detail Page Css*/
        .callout .btn { width: 100%; margin-top: 20px; }

        /*Our Works Page Css*/
        .portfolior-section .shape{width:100%;height:100%;}
        .portfolior-section .portfolio-item-block .portfolio-content.rt { text-align: left; }
        .portfolior-section .portfolio-content h1 { font-size: 40px; line-height: 50px; }



        /*Portfolio Page Css*/
        .portfolio-banner { min-height: 320px; }
        .portfolio-banner .path5 { width: 350px; height: 350px; top: 150px;  right: 0; left: 0 !important; margin: 0 auto; } 
        .portfolio-banner .path4 { width: 300px; height: 300px; top: 200px;  right: 0; left: 0 !important; margin: 0 auto; }
        .portfolio-banner .path3 { width: 250px; height: 250px; top: 250px;  right: 0; left: 0 !important; margin: 0 auto; }
        .portfolio-banner .home-banner-animation { width: 100%; margin: 0 auto; left: 0; }
        .portfolio-banner .circle-ani3{width:34px;margin:-17px auto;transform-origin:50% 140px;}
        .portfolio-banner .circle-ani4{width: 54px; margin: -28px auto; transform-origin: 50% 170px;}
        .portfolio-banner .circle-ani5{width:42px;margin:-21px auto;transform-origin:50% 200px; }
        .portfolio-banner .circle-ani4>i { width: 50px; height: 50px; border: 4px solid #ff4d64; }
        .portfolior-services ul li { margin-bottom: 20px; width: 100%; }
        .portfolior-services-screen .path, .portfolior-services-screen .path2, .product-section { display: none; }
        .portfolior-services-screen .real-time-feature-img { margin-bottom: 30px; }
        .portfolior-services-screen .technology-btn-box a { margin-bottom: 4px; }



}


/* iPhone Landscape */
@media (min-width:600px) and (max-width:736px){
        .main-banner { height: 750px; }
        br, .gray-dott-left:after, .gray-dott-right:before, .white-dott-right:before, .white-dott-left:before, .gray-circle-right:after, .white-circle-left:before, .common-business-block:after, .featured-wwork-block:after, .round-heading:after { display: none; }
        
        .business-skil-block .services_grid{ width: 50%; height: 80vh; position: unset;}
        .business-skil-block .web-development-skil-block { border-top:  1px solid #EEEFF4 !important }
        .business-skil-block .wordpress-skil-block { border-right: 1px solid #EEEFF4 !important; }
        .business-skil-block .mobile-development-skil-block, .business-skil-block .web-development-skil-block, .business-skil-block .games-development-skil-block, .business-skil-block .art-design-skil-block { border-top: 0 !important; }
        .business-skil-block .games-development-skil-block, .business-skil-block .web-development-skil-block, .business-skil-block .data-management-skil-block { border-right: 0 !important; }
        .business-skil-block .devops-skil-block { width: 100%; }

        .common-business-block .card-block .card { width: 33%; position: unset; float: left; min-height: 370px; }
        .common-business-block { height: auto; margin-bottom: 0; }

        .business-block h4 { padding: 0; }

        .media-section .media-block .media { padding: 30px; height: auto; min-height: 330px; }

        .testimonial-block .testimonials-box, .testimonial-block { margin: 0; }
        .testimonial-block .testimonials-box .card-0 { min-height: 500px; width: 100%; background-size: 100%; }
        .testimonial-block .testimonials-box .profile { left: 0; bottom: -200px; width: 50%;}
        .testimonial-block .testimonials-box .carousel-inner { height: 770px; }
        .testimonial-block .testimonials-box { position: unset; margin-top: 0; }

        .featured-wwork-block {height: auto; }
        .featured-wwork-block .feature-img { height: 350px; background-size: 100%; width: 300px;}
        .footer-block .footer-logo { margin-bottom: 40px; }


        /*****************************Inner Page CSS*******************************/

        /*Industry Page Css*/
        .services-block { max-height: none; margin-bottom: 0 }
        .expertise-box { width: 47%; position: unset; margin-bottom: 15px; float: left; min-height: 250px; margin-right: 8px; margin-left: 8px; }
        .round-heading-2 { margin-top: 0 }
        .advantage-block .advantage-box-one, .advantage-block .advantage-box-two { width: 47%; margin:0 7px 20px 7px; padding: 30px; }

        /*Services Solutions Business Page Css*/
        .solution-business-block:after { display: none; }
        .offer-box { border: 1px solid #F39F9F; padding: 20px; margin-bottom: 30px; min-height: 470px; }

        /*Services Solutions Page Css*/
        .full-cycle-block .advantage-block { margin-top: 0; }
        .tabing-block .tab-item-box { width: 44%; }

        /*How Development Process Page Css*/
        .hexagon-box { margin-top: 340px; height: 75vh; }
        .hexagon-box .hexagon-wrapper.blank-left-top { left: 60px; top: -215px; height: 117px; width: 117px; }
        .hexagon-box .hexagon-wrapper.blank-left-bottom { left: 100px; top: 255px; height: 72px; width: 72px; }
        .hexagon-box .hexagon-wrapper.icon-analytics { left: 0; top: -110px; } 
        .hexagon-box .hexagon-wrapper.icon-network { left: 150px; top: -200px; } 
        .hexagon-box .hexagon-wrapper.icon-design { left: 155px; top: -25px; }
        .hexagon-box .hexagon-wrapper.icon-responsive { left: 300px; top: -290px; }
        .hexagon-box .hexagon-wrapper.icon-develop { left: 305px; top: -115px; }
        .hexagon-box .hexagon-wrapper.icon-browser { left: 0; top: 65px; }
        .hexagon-box .hexagon-wrapper.icon-testing { left: 155px; top: 150px; }
        .hexagon-box .hexagon-wrapper.icon-launch { left: 310px; top: 60px; }
        .hexagon-box .hexagon-wrapper.icon-launch-white { left: 455px; top: -180px; height: 150px; width: 150px; }
        .hexagon-box .hexagon-wrapper.blank-right-top { left: 205px; top: -305px;}
        .hexagon-box .hexagon-wrapper { height: 200px; width: 200px; }


        /*How We Deliver Page Css*/
        .energy-block { margin-top: 0; height: auto; }
        .onboarding-section { margin-bottom: 0 }
        .onboarding-section .onboarding-right-content { padding: 40px 0 0 0; }
        .processing-future { background-size: 100%; }
        .processing-future .futuretext.technical-text { left: 0; }
        .processing-future .futuretext.trust-text { left: 550px; }
        .processing-future .futuretext.predictable-text { left: 100px; }
        .processing-future .futuretext.operational-text { left: 420px; top: 290px; }
        .processing-future .futuretext.strong-text { left: 600px; }
        .processing-future .futuretext.trust-text:before { top: 20px; left: 110px; }

        .energy-block > .energy-box { position: static; width: 50% !important; height: 250px !important; float: left; background-repeat: no-repeat; background-size: cover; }
        .onboarding-box { float: left; width: 50%; min-height: 370px;}
        .onboarding-box img { width: 100%; }
        .monitoring-section .onboarding-box, .monitory-img { width: 100%; }
        .monitoringreaction-section .onboarding-box { width: 100%;  }
        

        /*Hire Dedicated Developers Page Css*/
        .heading-text { margin: 0 }
        .dedicated-team-block { height: auto; margin-bottom: 0 }
        .differ-block .card-block .card-item-1, .differ-block .card-block .card-item-2, .differ-block .card-block .card-item-3 { position: unset; width: 33.33%; float: left; padding: 25px; min-height: 330px; } 
        .differ-block { height: auto; }


        /*Our Works Page Css*/
        .portfolior-section .shape{width:100%;height:100%;}
        .portfolior-section .portfolio-item-block .portfolio-content.rt { text-align: left; }
        .portfolior-section .portfolio-content h1 { font-size: 40px; line-height: 50px; }


        /*Portfolio Page Css*/
        .portfolio-banner { min-height: 320px; }
        .portfolio-banner .path3 { width: 500px; height: 500px; top: 200px; right: 0; left: 0 !important; margin: 0 auto; }
        .portfolio-banner .path4 { width: 600px; height: 600px; top: 150px; right: 0; left: 0 !important; margin: 0 auto; }
        .portfolio-banner .path5 { width: 700px; height: 700px; top: 100px; right: 0; left: 0 !important; margin: 0 auto; }
        .portfolio-banner .home-banner-animation { width: 100%; margin: 0 auto; left: 0; }
        .portfolio-banner .circle-ani3{width:34px;margin:-17px auto;transform-origin:50% 250px;}
        .portfolio-banner .circle-ani4{width: 54px; margin: -28px auto; transform-origin: 50% 320px;}
        .portfolio-banner .circle-ani5{width:42px;margin:-21px auto;transform-origin:50% 380px; }
        .portfolio-banner .circle-ani4>i { width: 50px; height: 50px; border: 4px solid #ff4d64; }
        .portfolior-services ul li { margin-bottom: 20px; width: 50%; }
        .portfolior-services-screen .path, .portfolior-services-screen .path2, .product-section { display: none; }
        .portfolior-services-screen .real-time-feature-img { margin-bottom: 30px; }






}

/* iPhone X Landscape */
@media screen and (min-width:800px) and (max-width:812px){
        .business-skil-block .services_grid{ width: 50%; height: 80vh; position: unset;}
        br, .gray-dott-left:after, .gray-dott-right:before, .white-dott-right:before, .white-dott-left:before, .gray-circle-right:after, .white-circle-left:before, .common-business-block:after, .featured-wwork-block:after, .round-heading:after { display: none; }
        
        .business-skil-block .web-development-skil-block { border-top:  1px solid #EEEFF4 !important }
        .business-skil-block .wordpress-skil-block { border-right: 1px solid #EEEFF4 !important; }
        .business-skil-block .mobile-development-skil-block, .business-skil-block .web-development-skil-block, .business-skil-block .games-development-skil-block, .business-skil-block .art-design-skil-block { border-top: 0 !important; }
        .business-skil-block .games-development-skil-block, .business-skil-block .web-development-skil-block, .business-skil-block .data-management-skil-block { border-right: 0 !important; }
        .business-skil-block .devops-skil-block { width: 100%; }
        .common-business-block .card-block .card { width: 33%; position: unset; float: left; min-height: 370px; }
        .common-business-block { height: auto; margin-bottom: 0; }

        .media-section .media-block { width: 50%; }
        .media-section .media-block .media { height: 250px; }

        .testimonial-block .testimonials-box, .testimonial-block { margin: 0; }
        .testimonial-block .testimonials-box .card-0 { min-height: 505px; width: 100%; background-size: auto; }
        .testimonial-block .testimonials-box .profile { left: 0; bottom: -150px; width: 100%;}
        .testimonial-block .testimonials-box .carousel-inner { height: 740px; }

        .featured-wwork-block { text-align: center;height: auto; }
        .featured-wwork-block .feature-img { width: 100%; height: 380px; }


        /*****************************Inner Page CSS*******************************/

        /*Industry Page Css*/
        .services-block { max-height: none; margin-bottom: 0 }
        .expertise-box { width: 32%; height: auto; position: unset; margin-bottom: 15px; float: left; min-height: 250px; margin-right: 5px; margin-left: 5px; }
        .round-heading-2 { margin-top: 0 }
        .advantage-block .advantage-box-one, .advantage-block .advantage-box-two { width: 48%; margin:0 7px 20px 7px; padding: 30px; }

         /*Services Solutions Business Page Css*/
        .solution-business-block:after { display: none; }
        .offer-box { border: 1px solid #F39F9F; padding: 20px; min-height: 450px; }

        /*Services Solutions Page Css*/
        .full-cycle-block .advantage-block { margin-top: 0; }
        .tabing-block .tab-item-box { width: 45%; }

        /*How Development Process Page Css*/
        .hexagon-box { margin-top: 350px;height: 120vh; }
        .hexagon-box .hexagon-wrapper.blank-left-top { left: 117px; top: -203px; height: 117px; width: 117px; }
        .hexagon-box .hexagon-wrapper.blank-left-bottom { left: 110px; top: 210px; height: 72px; width: 72px; }
        .hexagon-box .hexagon-wrapper.icon-analytics { left: 0; top: -110px; } 
        .hexagon-box .hexagon-wrapper.icon-network { left: 210px; top: -230px; } 
        .hexagon-box .hexagon-wrapper.icon-design { left: 210px;  top: 10px; }
        .hexagon-box .hexagon-wrapper.icon-responsive { left: 420px; top: -350px; }
        .hexagon-box .hexagon-wrapper.icon-develop { left: 420px; top: -110px; }
        .hexagon-box .hexagon-wrapper.icon-browser { left: 0; top: 130px; }
        .hexagon-box .hexagon-wrapper.icon-testing { left: 210px; top: 250px; }
        .hexagon-box .hexagon-wrapper.icon-launch { left: 420px; top: 130px; }
        .hexagon-box .hexagon-wrapper.icon-launch-white { left: 630px; top: -165px; height: 150px; width: 150px; }
        .hexagon-box .hexagon-wrapper.blank-right-top { left: 325px; top: -325px; }
        .hexagon-box .hexagon-wrapper { height: 280px; width: 280px; }


         /*How We Deliver Page Css*/
        .energy-block { margin-top: 0; height: auto; }
        .processing-future { background-size: 100%; }
        .processing-future .futuretext.technical-text { left: 0; }
        .processing-future .futuretext.trust-text { left: 550px; }
        .processing-future .futuretext.predictable-text { left: 100px; }
        .processing-future .futuretext.operational-text { left: 420px; top: 290px; }
        .processing-future .futuretext.strong-text { left: 600px; }

        .energy-block > .energy-box { position: static; width: 50% !important; height: 250px !important; float: left; background-repeat: no-repeat; background-size: cover; }
        .onboarding-box { float: left; width: 50%; }
        .monitoring-section .onboarding-box, .monitory-img { width: 100%; }
        .monitoringreaction-section .onboarding-box { width: 100%; margin-top: 20px; }
        .onboarding-section .onboarding-right-content { padding: 40px 0 0px 0; }
        .onboarding-section { margin-bottom: 0 }

        /*Hire Dedicated Developers Page Css*/
        .heading-text { margin: 0 }
        .dedicated-team-block { height: auto; margin-bottom: 0 }
        .differ-block .card-block .card-item-1, .differ-block .card-block .card-item-2, .differ-block .card-block .card-item-3 { position: unset; width: 33.33%; float: left; padding: 25px; min-height: 340px; } 
        .differ-block { height: auto; }


        /*Our Works Page Css*/
        .portfolior-section .shape{width:100%;height:100%;}
        .portfolior-section .portfolio-item-block .portfolio-content.rt { text-align: left; }
        .portfolior-section .portfolio-content h1 { font-size: 40px; line-height: 50px; }

         /*Portfolio Page Css*/
        .portfolio-banner { min-height: 320px; }
        .portfolio-banner .path5 { width: 700px; height: 700px; top: 150px;  right: 0; left: 0 !important; margin: 0 auto; } 
        .portfolio-banner .path4 { width: 600px; height: 600px; top: 200px;  right: 0; left: 0 !important; margin: 0 auto; }
        .portfolio-banner .path3 { width: 500px; height: 500px; top: 250px;  right: 0; left: 0 !important; margin: 0 auto; }
        .portfolio-banner .home-banner-animation { width: 100%; margin: 0 auto; left: 0; }
        .portfolio-banner .circle-ani3{width:34px;margin:-17px auto;transform-origin:50% 270px;}
        .portfolio-banner .circle-ani4{width: 54px; margin: -28px auto; transform-origin: 50% 320px;}
        .portfolio-banner .circle-ani5{width:42px;margin:-21px auto;transform-origin:50% 380px; }
        .portfolior-services ul li { margin-bottom: 20px; width: 50%; }
        .portfolior-services-screen .path, .portfolior-services-screen .path2, .product-section { display: none; }
        .portfolior-services-screen .real-time-feature-img { margin-bottom: 30px; }
        .portfolio-banner .circle-ani4>i { width: 44px; height: 44px; border: 4px solid #ff4d64; }



}


/* iPhone 5/ 5E */
@media screen and (max-width:359px){
        .featured-wwork-block .feature-img { height: 300px; }
        .navbar-brand { width: 215px; }

         /*Portfolio Page Css*/
        .portfolio-banner { min-height: 320px; }
        .portfolio-banner .path5 { width: 300px; height: 300px; } 
        .portfolio-banner .path4 { width: 250px; height: 250px; }
        .portfolio-banner .path3 { width: 200px; height: 200px;  }
        .portfolio-banner .circle-ani3{width:34px;margin:-17px auto;transform-origin:50% 120px;}
        .portfolio-banner .circle-ani4{width: 54px; margin: -28px auto; transform-origin: 50% 150px;}
        .portfolio-banner .circle-ani5{width:42px;margin:-21px auto;transform-origin:50% 170px; }




}

@media screen and (min-width:414px) and (max-width:767px){
        .featured-wwork-block .feature-img { height: 400px; }

}


